<!DOCTYPE html>
<html lang="en">

<%- include("./components/head.ejs")%>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <%- include("./components/header.ejs")%>

        <%- include("./components/left.ejs")%>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Truyện mới</h4>
                                <div class="basic-form">
                                    <form class="row" id="my-form" action="">
                                        <div class="form-group col-lg-12">
                                            <label for="name-story" class="form-label">Tên truyện</label>
                                            <input type="text" class="form-control input-default" id="name-story" name="name" placeholder="">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="category-story" class="form-label">Thể loại</label>
                                            <input type="text" class="form-control input-default" id="category-story" name="category" placeholder="">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="chapter-story" class="form-label">Chương</label>
                                            <input type="text" class="form-control input-default" id="chapter-story" name="chapter" placeholder="">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="author-story" class="form-label">Tác giả</label>
                                            <input type="text" class="form-control input-default" id="name-story" name="author" placeholder="">
                                        </div>
                                        <div class="form-group col-lg-6">
                                            <label for="thumbnail-story" class="form-label">Ảnh thumnail</label>
                                            <input type="file" class="form-control form-control-file" id="thumbnail-story" name="thumbnail">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="introduce-story" class="form-label">Giới thiệu</label>
                                            <input type="text" class="form-control input-default" id="introduce-story" name="introduce" placeholder="">
                                        </div>
                                        <div class="form-group col-lg-12">
                                            <label for="content-story" class="form-label">Nội dung</label>
                                            <div class="summernote">
                                            </div>
                                        </div>
                                        <div class="form-submit col-lg-12">
                                            <button type="button" class="btn mt-2 btn-primary" id="btn-submit">
                                                Tao
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Developed by Hoonn 279</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/admin/plugins/common/common.min.js"></script>
    <script src="/admin/js/custom.min.js"></script>
    <script src="/admin/js/settings.js"></script>
    <script src="/admin/js/gleek.js"></script>
    <script src="/admin/js/styleSwitcher.js"></script>


    <script src="/admin/plugins/summernote/dist/summernote.min.js"></script>
    <script src="/admin/plugins/summernote/dist/summernote-init.js"></script>
    <script src="/admin/js/dashboard/dashboard-1.js"></script>

    <!-- Toastr -->
    <script src="/admin/plugins/toastr/js/toastr.min.js"></script>
    <script src="/admin/plugins/toastr/js/toastr.init.js"></script>

    <script>
        const myForm = document.getElementById("my-form");
        const btnSubmit = document.getElementById("btn-submit");


        btnSubmit.addEventListener("click", async (e) => {
            let formData = new FormData(myForm);
            let thumbnail = document.getElementById('thumbnail-story');   
            formData.append('thumbnail', thumbnail.files[0].name);
            formData.append('content', $(".summernote").summernote('code'));
            // console.log(formData);
            // for(var pair of formData.entries()) {
            //     console.log(pair[0]+ ', '+ pair[1]); 
            // }
            const plainFormData = Object.fromEntries(formData.entries());
            //console.log(plainFormData);
            try {
                const res = await fetch('http://localhost:3000/api/stories', {
                    method: 'POST',
                    headers: {
                        "Content-Type": "application/json",
                        "Accept": "application/json"
                    },
                    body: JSON.stringify(plainFormData)
                })
                //console.log(res.body);
                const data = await res.json();
                if (data.status == 'success') {
                    toastr.success('Tao thanh cong');
                    setTimeout(() => {
                        location.replace('/admin/manage');
                    }, 3000);
                }
                //console.log(data);
            } catch (error) {
                console.log(err.message);
            }
        })
    </script>
</body>

</html>