<!DOCTYPE html>
<html lang="en">

<%- include("./components/head.ejs")%>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->


    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <%- include("./components/header.ejs")%>

        <%- include("./components/left.ejs")%>

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <a href="/admin/manage/create">
                                    <button type="button" class="btn mb-4 btn-primary">
                                        <i class="icon-plus menu-icon"></i> Thêm mới
                                    </button>
                                </a>
                                <h4 class="card-title">Data Table</h4>
                                <div class="table-responsive">
                                    <table id="my-table" class="table table-striped table-bordered zero-configuration">
                                        <thead>
                                            <tr>
                                                <th>STT</th>
                                                <th>Tên truyện</th>
                                                <th>Ảnh</th>
                                                <th>Thể loại</th>
                                                <th>Chương</th>
                                                <th>Tác giả</th>
                                                <th>Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody id="table-body">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
            Content body end
        ***********************************-->
        <div class="modal fade" id="basicModal">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Xoa truyen</h5>
                        <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">Ban muon xoa loai truyen nay</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huy</button>
                        <button type="button" class="btn btn-primary" id="remove-confirm">Xoa</button>
                    </div>
                </div>
            </div>
        </div>

        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy; Developed by Hoonn 279</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <script src="/admin/plugins/summernote/dist/summernote.min.js"></script>
    <script src="/admin/plugins/summernote/dist/summernote-init.js"></script>
    <script src="/admin/plugins/tables/js/jquery.dataTables.min.js"></script>
    <script src="/admin/plugins/tables/js/datatable/dataTables.bootstrap4.min.js"></script>
    <script src="/admin/plugins/tables/js/datatable-init/datatable-basic.min.js"></script>

    <!-- Toastr -->
    <script src="/admin/plugins/toastr/js/toastr.min.js"></script>
    <script src="/admin/plugins/toastr/js/toastr.init.js"></script>
    <script src="/admin/js/manage.js"></script>
</body>

</html>