<!DOCTYPE html>
<html class="h-100" lang="en">

<%- include("./components/head.ejs")%>

    <body class="h-100">

        <!--*******************
        Preloader start
    ********************-->
        <div id="preloader">
            <div class="loader">
                <svg class="circular" viewBox="25 25 50 50">
                    <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
                </svg>
            </div>
        </div>
        <!--*******************
        Preloader end
    ********************-->

        <div class="login-form-bg h-100">
            <div class="container h-100">
                <div class="row justify-content-center h-100">
                    <div class="col-xl-6">
                        <div class="form-input-content">
                            <div class="card login-form mb-0">
                                <div class="card-body pt-5">
                                    <a class="text-center" href="#">
                                        <h4>Forgot Password</h4>
                                    </a>

                                    <form class="mt-5 mb-5 reset-input">
                                        <div class="form-group">
                                            <label for="password">Mật khẩu mới</label>
                                            <input type="password" class="form-control" name="password" id="password">
                                        </div>
                                        <button class="btn login-form__btn submit w-100">Đổi mật khẩu</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!--**********************************
        Scripts
    ***********************************-->
        <script src="/admin/plugins/common/common.min.js"></script>
        <script src="/admin/js/custom.min.js"></script>
        <script src="/admin/js/settings.js"></script>
        <script src="/admin/js/gleek.js"></script>
        <script src="/admin/js/styleSwitcher.js"></script>

        <!-- Toastr -->
        <script src="/admin/plugins/toastr/js/toastr.min.js"></script>
        <script src="/admin/plugins/toastr/js/toastr.init.js"></script>
        <script>
            document.querySelector(".reset-input").addEventListener("submit", async (e) => {
                e.preventDefault();

                const password = document.getElementById("password").value;
                const token = location.pathname.split("/")[3];
                
                try {
                    const res = await fetch(
                        `/auth/reset-password/?token=${token}`,
                        {
                            method: "PATCH",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ password }),
                        }
                    );
                            console.log(res);
                    if (res.status == 204) {
                        toastr.success('Đổi mật khẩu thành công');
                        setTimeout(() => {
                            window.location.href = '/admin/login';
                        }, 2500);
                    } else {
                        toastr.error('Đổi mật khẩu thất bại vui lòng thử lại');
                    }
                } catch (error) {
                    console.log(error);
                }
            });
        </script>
    </body>

</html>