p<!doctype html>
<html lang="en">

<head>
    <title>Đọc truyện online</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/client/static/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/client/static/css/client/menu.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/client/static/css/login_logout.css">

    <!-- jQuery -->
    <script src="/client/static/js/jquery-1.11.1.min.js"></script>
    <!-- <link rel="stylesheet" href="/css/login/login.css"> -->

</head>


<body>
    <div class="materialContainer">

        <div class="box">

            <div class="title">LOGIN</div>
            <div class="text-danger alert fw-bold">
            </div>
            <div class="input ">
                <label for="name">Username</label>
                <input class="username" type="text" name="username" id="name">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="pass">Password</label>
                <input class="password" type="password" name="password" id="pass">
                <span class="spin"></span>
            </div>

            <div class="button login">
                <button><span>GO</span> <i class="fa fa-check"></i></button>
            </div>

            <a href="" class="pass-forgot">Forgot your password?</a>

        </div>

        <div class="overbox">
            <div class="material-button alt-2"><span class="shape"></span></div>

            <div class="title">REGISTER</div>

            <div class="input">
                <label for="refullname">Fullname</label>
                <input class="fullname-register" type="text" name="full_name" id="refullname">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="reemail">Email</label>
                <input class="email-register" type="text" name="email" id="reemail">
                <span class="spin"></span>
            </div>
            
            <div class="input">
                <label for="regname">Username</label>
                <input class="user-register" type="text" name="username" id="regname">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="regpass">Password</label>
                <input class="pass-register" type="password" name="password" id="regpass">
                <span class="spin"></span>
            </div>

            <div class="input">
                <label for="reregpass">Repeat Password</label>
                <input class="repass-register" type="password" name="password_confirm" id="reregpass">
                <span class="spin"></span>
            </div>

            <div class="button register" id="five">
                <button><span>NEXT</span></button>
            </div>
            <div id="modal-container">
                <div class="modal-background">
                    <div class="modal">
                        <h2 class="content-modal text-info"></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/client/static/js/login_logout.js"></script>

</html>