<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Truyện hay</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,900&family=Cherish&family=Hind+Siliguri:wght@300;500&display=swap"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="/client/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/client/static//favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/client/static//favicon/favicon-16x16.png">
    <!-- home -->
    <link rel="stylesheet" href="/client/static/css/home.css">
    <!-- boostrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!-- owl carousel -->
    <link rel="stylesheet" href="/client/plugins/owlcarousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="/client/plugins/owlcarousel/assets/owl.theme.default.min.css">
    <!-- jQuery -->
    <script src="/client/static/js/jquery-1.11.1.min.js"></script>