<div class="wrapper" id="wrapper__header">
    <div class="slider__box">
        <div id="silder__banner" class="owl-carousel banner-home">
            <div class="item">
                <a href="">
                    <img src="/client/static/image/img_anime/737487.png" alt="banner" />
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/client/static/image/img_anime/736462.png" alt="banner" />
                </a>
            </div>
            <div class="item">
                <a href="">
                    <img src="/client/static/image/img_anime/736460.png" alt="banner" />
                </a>
            </div>
        </div>
        <div class="indicators" style="display: none">
            <span id="btn__baner1" class="active"></span>
            <span id="btn__baner2"></span>
            <span id="btn__baner3"></span>
        </div>
    </div>
    <div class="header__box">
        <div class="header__navbar container">
            <nav id="navbar">
                <a class="logo text-decoration-none" href="/">TRUYENHAY</a>
                <ul class="menu" id="side__bar">
                    <li>
                        <a href="/" class="text_menu menu_parent text-decoration-none">Trang chủ</a>
                    </li>
                    <li class="menu_parent">
                        <a href="#types" class="text_menu text-decoration-none">Thể loại</a>
                        <ul class="menu_child">
                            <li>
                                <a class="text_menuchild text-decoration-none" href="/">Phiêu lưu</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu__tool">
                        <div class="tool">
                            <a href="#" class="tool__item">
                                <ion-icon name="search-outline"></ion-icon>
                            </a>
                            <a class="user" href="#">
                                <img src="https://img.icons8.com/windows/32/ffffff/user.png" />
                            </a>
                            <a class="logout" href="#">
                                <img src="https://img.icons8.com/ios-filled/25/ffffff/logout-rounded.png" />
                            </a>
                        </div>
                    </li>
                </ul>
                <div class="icon" id="menu__btn">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>
                <div class="tool">
                    <a href="#" class="tool__item">
                        <ion-icon name="search-outline"></ion-icon>
                    </a>
                </div>
                <div class="user tool">
                    <a class="nav-link user icon-menu">
                        <img src="https://img.icons8.com/windows/32/ffffff/user.png" />
                    </a>
                </div>
                <div class="login tool">
                    <a class="nav-link logout icon-menu">
                        <img src="https://img.icons8.com/ios-filled/25/ffffff/logout-rounded.png" />
                    </a>
                </div>
            </nav>
        </div>
        <hr />
    </div>
</div>