<!--**********************************
            Sidebar start
        ***********************************-->
<div class="nk-sidebar">
    <div class="nk-nav-scroll">
        <ul class="metismenu" id="menu">
            <li class="nav-label"></li>
            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon-speedometer menu-icon"></i><span class="nav-text">Trang chủ</span>
                </a>

                <ul aria-expanded="false">
                    <li><a href="/admin">Trang Admin</a></li>
                    <li><a href="/">Trang chủ</a></li>
                </ul>
            </li>

            <li class="nav-label">Quảng lý</li>
            <li><a href="/admin/manage"><i class="icon-grid menu-icon"></i><span class="nav-text">Quản lý
                        truyện</span></a></li>
        </ul>
    </div>
</div>
<!--**********************************
            Sidebar end
        ***********************************-->