.main-detail {
    box-shadow: 2px 2px 15px 5px rgb(224, 224, 224);
    background-color: white;
    padding: 20px;
}

.bgmenu {
    background-color: black;
    height: 70px;
    opacity: 0.9;
}

.name-story-detail {
    font-size: xx-large;
    font-weight: 400;
    font-family: helvetica;
}


.rate-detail>div {
    margin: 10px;
}

.description-detail-text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
}

.description-detail-text-short {
    display: static;
}